<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_net_trulycanadian_recipe_model_Attribute" modelAttribute="attribute" path="/databaserecord/attributes" render="${empty dependencies}" z="Abb68GFLyf7QWZJXx2nXRf/g1PA=">
        <field:select field="attrtype" id="c_net_trulycanadian_recipe_model_Attribute_attrtype" itemValue="id" items="${attrtypes}" path="/databaserecord/attrtypes" z="jbfHRZIIkpqlDtHF65ZlLlfk8FY="/>
        <field:select field="recipe" id="c_net_trulycanadian_recipe_model_Attribute_recipe" itemValue="id" items="${recipes}" path="/databaserecord/recipes" z="wc97tZBijaM6xyRwhK93kA9jIks="/>
        <field:input field="uuid" id="c_net_trulycanadian_recipe_model_Attribute_uuid" z="nwwcPshW7D3svgwdyuirUo9qv9c="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_net_trulycanadian_recipe_model_Attribute" render="${not empty dependencies}" z="7kcx+yPUjwpBQ52CgEkTwezRj9A="/>
</div>
