<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_net_trulycanadian_recipe_model_Ingredient" object="${ingredient}" path="/databaserecord/ngredients" z="xJV4GiYz3WOD4py11uE3eaAT0DQ=">
        <field:display field="name" id="s_net_trulycanadian_recipe_model_Ingredient_name" object="${ingredient}" z="O4zrBE3hp0ZJhJQdeowHnw5p92w="/>
        <field:display field="measurement" id="s_net_trulycanadian_recipe_model_Ingredient_measurement" object="${ingredient}" z="I/HSrBv+0bCbpW1aeCbrQYbHkGc="/>
        <field:display field="recipe" id="s_net_trulycanadian_recipe_model_Ingredient_recipe" object="${ingredient}" z="7R/1Ajdcq5+/RhKxDRehlK9Y/BE="/>
    </page:show>
</div>
