<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_trulycanadian_recipe_model_AttrType" items="${attrtypes}" z="+GZYUUUQ3uvWSBtNgxsN6HRkpnU=">
        <table:table data="${attrtypes}" id="l_net_trulycanadian_recipe_model_AttrType" path="/databaserecord/attrtypes" z="/R9did9K9HtL5Pdd8xV3Tf7SdZs=">
            <table:column id="c_net_trulycanadian_recipe_model_AttrType_name" property="name" z="+eRxVLMetmyMLBz3bWffZuQN/A4="/>
            <table:column id="c_net_trulycanadian_recipe_model_AttrType_valueField" property="valueField" z="HtvlTAk18oRH43cdh90VZ2wgVbE="/>
        </table:table>
    </page:list>
</div>
