<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_net_trulycanadian_recipe_model_Picture" object="${picture}" path="/databaserecord/pictures" z="ILpcaI7w60bNWDWoEEQAbTnyYlk=">
        <field:display field="name" id="s_net_trulycanadian_recipe_model_Picture_name" object="${picture}" z="eDuWUBBOeb7h1RzVxKtsocjK9o8="/>
        <field:display field="contentType" id="s_net_trulycanadian_recipe_model_Picture_contentType" object="${picture}" z="lJlcbyzX/6cDmQdrHVD3mV5SjvY="/>
        <field:display field="content" id="s_net_trulycanadian_recipe_model_Picture_content" object="${picture}" z="20818Zbf6q2h+8W+qbyhwvyH26M="/>
        <field:display field="description" id="s_net_trulycanadian_recipe_model_Picture_description" object="${picture}" z="t2nsoaC5ukUtV0sTeTUGT4NaDm4="/>
        <field:display field="fileName" id="s_net_trulycanadian_recipe_model_Picture_fileName" object="${picture}" z="/ufVspjHEwcxDt9SXLZ1YJadcQA="/>
        <field:display field="size" id="s_net_trulycanadian_recipe_model_Picture_size" object="${picture}" z="ADzg2mu/RlfXm9UoNAIv1saqcQM="/>
        <field:display field="url" id="s_net_trulycanadian_recipe_model_Picture_url" object="${picture}" z="zIioln+xfIlZV0nfuunqKx9lpBI="/>
        <field:display field="recipe" id="s_net_trulycanadian_recipe_model_Picture_recipe" object="${picture}" z="6+5B1lmhZ++gCFzze/dj5smm5Io="/>
    </page:show>
</div>
