<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_net_trulycanadian_recipe_model_UserRoles" modelAttribute="userRoles" path="/databaserecord/userroleses" versionField="Version" z="n9sdEiQ2FONlCZMVufH8T1fNF70=">
        <field:input field="authority" id="c_net_trulycanadian_recipe_model_UserRoles_authority" required="true" z="7jnizuR7vujrlQS1ojjUceY7XJU="/>
        <field:select field="userid" id="c_net_trulycanadian_recipe_model_UserRoles_userid" itemValue="id" items="${useraccounts}" path="/databaserecord/useraccounts" z="2dmRA+sdRo9A76whyTVgA4RMcis="/>
    </form:update>
</div>
