<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_net_trulycanadian_recipe_model_Duration" modelAttribute="duration" path="/databserecord/durations" render="${empty dependencies}" z="6o5AiJtvvdKyHRW1gFZyrojtL7Q=">
        <field:input field="prepTime" id="c_net_trulycanadian_recipe_model_Duration_prepTime" z="DkuzSSt/VlmOIbdG3g+0HWwa6qU="/>
        <field:input field="cookTime" id="c_net_trulycanadian_recipe_model_Duration_cookTime" z="k+2dg+iW27jtLLWl4CvZPuHe+x4="/>
        <field:select field="recipe" id="c_net_trulycanadian_recipe_model_Duration_recipe" itemValue="id" items="${recipes}" path="/databaserecord/recipes" z="MsgN27IUCSzrPXtk9nLk/F6e038="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_net_trulycanadian_recipe_model_Duration" render="${not empty dependencies}" z="VYGYhkpwwz7ZM4yFHF0q7XoV5XI="/>
</div>
