<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_net_trulycanadian_recipe_model_Duration" object="${duration}" path="/databserecord/durations" z="q4MBVzCgIRnBmlYSGkVVaaL/rBQ=">
        <field:display field="prepTime" id="s_net_trulycanadian_recipe_model_Duration_prepTime" object="${duration}" z="NyCT1k8vWy4JwxTFtq37lCfmUfI="/>
        <field:display field="cookTime" id="s_net_trulycanadian_recipe_model_Duration_cookTime" object="${duration}" z="tIs3sca6pMSynFfFa6iDN1dYyoI="/>
        <field:display field="recipe" id="s_net_trulycanadian_recipe_model_Duration_recipe" object="${duration}" z="5xU4PiEd7aqUVko4zpEbRnRih64="/>
    </page:show>
</div>
