<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_net_trulycanadian_recipe_model_Cuisine" items="${cuisines}" z="kPVfrVREXZ9HTyQCby2VYlChzDo=">
        <table:table data="${cuisines}" id="l_net_trulycanadian_recipe_model_Cuisine" path="/databaserecord/cuisines" z="ORxaHAoHaiswanJfKUEoNQHMZqM=">
            <table:column id="c_net_trulycanadian_recipe_model_Cuisine_recipe" property="recipe" z="GuNlvMTmKmu6ktl3rrTARG/WG1g="/>
            <table:column id="c_net_trulycanadian_recipe_model_Cuisine_cuisineType" property="cuisineType" z="0bBSCW7xBBtF0hvfZeLVARJxowY="/>
            <table:column id="c_net_trulycanadian_recipe_model_Cuisine_uuid" property="uuid" z="30RGEDZlVCmPr9PwNh1rglCuixo="/>
        </table:table>
    </page:list>
</div>
