<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_net_trulycanadian_recipe_model_Cuisine" object="${cuisine}" path="/databaserecord/cuisines" z="Az7hiaCWdmPCGLPqJCi1EbeSK20=">
        <field:display field="recipe" id="s_net_trulycanadian_recipe_model_Cuisine_recipe" object="${cuisine}" z="7/czCk9c7gjGcHNPUw4TxbpIqIs="/>
        <field:display field="cuisineType" id="s_net_trulycanadian_recipe_model_Cuisine_cuisineType" object="${cuisine}" z="ghDMQzpK2ZIEzrDYDr0cfoykkUQ="/>
        <field:display field="uuid" id="s_net_trulycanadian_recipe_model_Cuisine_uuid" object="${cuisine}" z="kUg3IjYQP5km92AMV8IQuCuVeWU="/>
    </page:show>
</div>
