<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_net_trulycanadian_recipe_model_Cuisine" modelAttribute="cuisine" path="/databaserecord/cuisines" versionField="Version" z="FXj3i0IRlAz/0WnOCffwqpIVVE4=">
        <field:select field="recipe" id="c_net_trulycanadian_recipe_model_Cuisine_recipe" itemValue="id" items="${recipes}" path="/databaserecord/recipes" z="avLPmvdm4+EbJVIOxNgNU4G5zxQ="/>
        <field:select field="cuisineType" id="c_net_trulycanadian_recipe_model_Cuisine_cuisineType" itemValue="id" items="${cuisinetypes}" path="/databaserecord/cuisinetypes" z="IeT2YKHtBPG6bCs8L2L1SVOm/Rg="/>
        <field:input field="uuid" id="c_net_trulycanadian_recipe_model_Cuisine_uuid" z="gABWcZNeHi2a4PGUeCL7AT21XPo="/>
    </form:update>
</div>
